@font-face {
  font-family: 'Corbert-Regular';
  src:  url('Corbert-Regular-webfont.woff2') format('woff2'),
        url('Corbert-Regular-webfont.woff') format('woff');
}

/*general styles*/
* {
	margin: 0;
	padding: 0;
}


.wrapper {
	width: 100%;
	height: 100%;
	background-image: url('../images/40and6-web.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	position: fixed;
	margin: 0
	padding: 0;
	overflow: auto;
}

body {
	font-family: 'Corbert-Regular';
	font-color: black;
}

h1 {
	font-size: 18px;
	margin: 10px;
}

p {
	float: left;
	font-size: 14px;
	color: white;
}

img {
	width:300px;
}

.footer {
	clear: both;
	font-size: 12px;
	width: 100%;
	height: 100px;
	text-align: center;
	position:relative;
    bottom:-100px;
    background-color: black;
}

.footer p {
	line-height: 50px;
}

.header {
	height: 80px;
	width: 100%;
	margin: 0;
	background-color:rgba(0,0,0,0.4);
	overflow: hidden;
}

.header h1 {
	float: left;
	margin: 0;
	font-size: 36px;
	line-height: 80px;
}

.header ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header ul li {
	display: inline-block;
	line-height: 50px;
	margin: 10px;
}

.header ul li a {
	color: white;
}

.header h1 a:hover {
	text-decoration: none;
	color: white;
}

.logo img {
	width: 80px;
}

.logo:hover {
	opacity: .8;
}

.content {
	width: 100%;
	background-image: none;
	box-sizing: border-box;
}

.content h1 {
	font-size: 35px;
	color: black;
	width: 100%;
	background-color: white;
	margin-left: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
}

.nav .dropdown-menu{
	display: none;
	list-style-type: none;
}


.dropdown-item {
	display: inline;
	width: 30px;
	color: white;
}

/*.dropdown-menu a {
	color: white;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block
}
*/

a:link {
    text-decoration: none;
}

a:visited {
    color:rgba(0, 0, 0, 0.5);
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

/*media queries*/

@media all and (max-width: 1200px) and (min-width: 1000px) {
	.photogrid {
		column-count: 4;
	}
}

@media all and (max-width:999px) and (min-width:768px) {
	.photogrid {
		column-count: 3;
	}
}

@media all and (max-width:767px) and (min-width:481px) {
	.photogrid {
		column-count: 2;
	}
}

@media all and (max-width:480px) and (min-width: 1px) {
	/*general styles*/

	.wrapper {
		width: 480px;
		height: 100%;
		background-image: url("../images/40and6-mobile.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.header {
		width: 100%;
	}

	.header ul {
		float: left;
	}

	.content {
		width: 480px;
		margin: 0 auto;
	}

	/*index page*/

	.portfolio-section {
		width: 450px;
		margin: 0 auto;
	}

	.work-title {
		width: 90%;
		font-size: 14px;
		margin: 0;
	}

	/*photography page*/

	.photogrid {
		column-count: 1;
	}

	.photogrid img {
		width: 100%;
	}

	/*contact page*/

	.content .contact-form {
		margin: 0 auto;
	}

	/*about page*/

	img.left-float {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.about-section {
		width: 100%;
		margin: 0;
		float: left;
		background-color: transparent;
	}

	.about {
		font-size: 12px;
	}

	/*web dev page*/

	.ux-block {
		clear:both;
		width: 100%;
		float: left;
	}

	.web-block {
		width: 100%;
	}

	/*general styles*/

	.footer {
		width: 100%;
		height: 100px;
		text-align: left;
		position:relative;
	    bottom:-100px;
	}
}

/*work index page*/
.work-title {
	width: 500px;
	background-color: white;
	font-size: 55px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin: 30px;
}

.work-title a {
	color: black;
	text-decoration: none;
}

.work-title:hover {
	font-size: 65px;
	transition-duration: .3s;
}

.portfolio-section {
	width: 500px;
	margin-left: 70px;
	margin-bottom: 50px;
}

/*Photography page*/

.photogrid { 
	column-count: 4;
	column-gap: 0px; 
	overflow: scroll;
	background-color: rgba(255,255,255, 0.8);
	padding-top: 30px;
}

 

/*Journalism Page*/

.square-content-block {
	box-sizing: border-box;
	margin: auto;
	width: 400px;
	height: 250px;
	background-color: rgba(255,255,255, 0.8);
	float: left;
	margin: 10px;

}

.square-content-block h2 {
	padding: 5px;
}

.square-content-block ul {
	list-style-type: none;
}

.square-content-block ul li {
	padding: 5px;
}



/*web dev page*/
.content .web-block {
	width: 50%;
	height: 300px;
	float: right;
	padding: 5px;
	background-color:rgba(255,255,255, 0.8);
	box-sizing: border-box;
}

.content .web-block ul {
	list-style-type: none;
	margin-left: 10px;
}

.content .web-block ul li {
	font-size: 20px;
	margin-bottom: 15px;
}

.content .web-block h2 {
	font-size: 30px;
	margin: 5px;
	padding-bottom: 5px;
}

.content .ux-block {
	width: 50%;
	height: 300px;
	padding-right: 15px;
	background-color:rgba(255,255,255, 0.8);
	box-sizing: border-box;
}

.content .ux-block p {
	margin-left: 10px;
	font-size: 20px;
}


.content .ux-block h2 {
	font-size: 30px;
	margin: 5px;
	padding-bottom: 5px;
}


/*About page*/
.about-section {
	width: 80%;
	height: 450px;
	background-color: rgba(0,0,0,.4);
	margin: 50px;

}

.about {
	float: none;
	font-size: 25px;
	margin: 20px;

}

img.left-float {
	float: left;
	margin-right: 10px;
	margin-left: 20px;
}




/*Contact Page*/

.contact-form {
	text-align: center;
	margin-top: 30px;
}

input {
	border: 2px solid white;
	margin-bottom: 10px;
	width: 300px;
	height: 30px;
	box-sizing: border-box;
}


textarea {
	border: 2px solid white;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 300px;
	height: 200px;
}

.submit {
	width: 65px;
	height: 35px;
	border: 2px solid #1D2951;
	border-radius: 4px;
	color: white;
	background-color: #1D2951;
	font-size: 14px;
}

.submit:hover {
	opacity: .9;
	cursor: pointer;
}